$pageWidth: 900px;
$mobileBreakpoint: 650px;
$tabletBreakpoint: 800px;
$sidePanelWidth: 350px;
$topSpacing: 0rem;
$fullPageWidth: $pageWidth + 1 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
