$pageWidth: 1500px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
$sidePanelWidth: 350px;
$topSpacing: 0rem;
$fullPageWidth: $pageWidth + 1 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
